<div id="{{id}}" class="question">
    <h2 class="title">{{text}}</h2>
    <form>
        <div>
            <input id="a" type="radio" name="answer" value="A" data-id="a{{id}}"/>
            <label for="a">{{answers.[0]}}</label>
        </div>
        <div>
            <input id="b" type="radio" name="answer" value="B" data-id="b{{id}}"/>
            <label for="b">{{answers.[1]}}</label>
        </div>
        <div>
            <input id="c" type="radio" name="answer" value="C" data-id="c{{id}}"/>
            <label for="c">{{answers.[2]}}</label>
        </div>
        <div>
            <input id="d" type="radio" name="answer" value="D" data-id="d{{id}}"/>
            <label for="d">{{answers.[3]}}</label>
        </div>
    </form>
</div>